.loading-3{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 30px;
}

.loading-3 .dot{
  width: 10px;
  height: 10px;
  margin: 0 3px;
  border-radius: 10px;
  background-color: #4b9cdb;
}

.loading-3 .dot:nth-child(1){
  animation: loading-3 1s 0s infinite linear;
}
.loading-3 .dot:nth-child(2){
  animation: loading-3 1s 0.2s infinite linear;
}
.loading-3 .dot:nth-child(3){
  animation: loading-3 1s 0.4s infinite linear;
}

@keyframes loading-3{
  from, to{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-10px);
  }
}