.loading-8{
  margin: auto;
  width: 30px;
  height: 30px;
  border: 5px solid #bed9ed;
  border-radius: 50%;
  position: relative;
}

.loading-8 .spinner{
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100%);
  height: calc(100%);
  border: 5px solid #4b9cdb;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: 1s loading-8 linear infinite;
}

@keyframes loading-8 {
  from{
    transform: translate(-5px, -5px) rotate(0);
  }
  to{
    transform: translate(-5px, -5px) rotate(360deg);
  }
}