.loading-17{
  width: 40px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-17 .dot, .loading-17 .dot::before, .loading-17 .dot::after{
  width: 10px;
  height: 10px;
  background-color: #4b9cdb;
  border-radius: 50%;
  position: relative;
}

.loading-17 .dot::before{
  content: '';
  position: absolute;
  top: -14px;
  animation: 1s linear infinite loading-17;
  transform-origin: 50% calc(14px + 50%);
}

.loading-17 .dot::after{
  content: '';
  position: absolute;
  top: -28px;
  transform-origin: 50% calc(28px + 50%);
  animation: 1.5s linear infinite loading-17;
}

@keyframes loading-17{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}