.loading-2 {
  margin: 0 auto;
  width: 40px;
  height: 40px;
}

.loading-2 .circle {
  border-radius: 50%;
  border: 20px solid;
  border-color: #4b9cdb #6aa6d4 #81b4db #a4c4db;
  animation: 1s infinite loading-2 linear;
}

@keyframes loading-2 {
  0%, 100% {
    /* transform: rotate(0); */
    border-color: #4b9cdb #6aa6d4 #81b4db #a4c4db;
  }
  25% {
    border-color: #6aa6d4 #81b4db #a4c4db #4b9cdb;
  }
  50% {
    border-color: #81b4db #a4c4db #4b9cdb #6aa6d4;
  }
  75%{
    border-color: #a4c4db #4b9cdb #6aa6d4 #81b4db;
  }
}
